<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="fabchat" th:with="current_user = ${#ctx.session.current_user}">
<div class="fabs" >
    <div th:if="${current_user != null}">
        <h2 id="userid" th:text=" ${current_user.id}" ></h2>
    </div>
    <div class="row no-gutters">
        <div class="chat col-md-4 col-md-offset-2" th:if="${current_user != null}">
            <div class="chat_header">
                <div class="chat_option">
                    <div class="header_img">
                        <img src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                    </div>
                    <span id="chat_head1">Jane Doe</span> <br> <span class="agent">Agent</span> <span class="online">(Online)</span>
                    <span id="chat_fullscreen_loader1" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>

                </div>

            </div>
            <div id="chat_converse1" class="chat_conversion chat_converse">
            </div>
            <div class="fab_field">
                <a id="fab_camera1" class="fab"><i class="zmdi zmdi-camera"></i></a>
                <a id="fab_send1" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
                <textarea id="chatSend1" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
            </div>
        </div>
        <div class="chat col-md-8 col-md-offset-2" th:if="${current_user != null}">
        <div class="chat_header">
            <div class="chat_option">
                <div class="header_img">
                    <img src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg"/>
                </div>
                <span id="chat_head">Jane Doe</span> <br> <span class="agent">Agent</span> <span class="online">(Online)</span>
                <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>

            </div>

        </div>
        <div id="chat_converse" class="chat_conversion chat_converse">
        </div>
        <div class="fab_field">
            <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a>
            <a id="fab_send" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
            <textarea id="chatSend" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
        </div>
    </div>
    </div>
    <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
</div>
<script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>

<script src="/assets/js/chat.js"></script>
</div>
</body>
</html>